#button-container {
    background-color: #202023;
    display: flex;
    justify-content: space-between;
}

.count-button {
    padding: 10px 25px;
    font-size: 18px;
    margin: 10px 20px;
    background-color: #d6bcfa;
    border: none;
    border-radius: 5px;
}

.count-button:hover {
    cursor: pointer;
    background-color: #a691c7;
}

#number-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 25px;
    background-color: #313134;
}

#number-container div {
    font-size: 28px;
    color: white;
}

body {
    margin: 0;
}